services:
  php-apache:
    build: bin/php-apache/
    container_name: loja
    user: "1000:1000"
    volumes:
      - "./loja:/var/www/loja"
      - ./config/php/php-dev.ini:/usr/local/etc/php/php.ini
      - ./config/apache2:/etc/apache2/sites-enabled
      - ./logs/apache2:/var/log/apache2
    ports:
      - "80:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  mysql:
    image: mysql:8.0
    container_name: loja-db
    environment:
      MYSQL_ROOT_PASSWORD: loja_rootpass
      MYSQL_DATABASE: loja
      MYSQL_USER: lojauser
      MYSQL_PASSWORD: lojapass
    command: [
      '--default-authentication-plugin=mysql_native_password',
      '--character-set-server=utf8mb4',
      '--collation-server=utf8mb4_unicode_ci'
    ]
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
      - ./config/mysql/my.cnf:/etc/mysql/conf.d/my.cnf

volumes:
  mysql_data:
